/* style.css */




/* Body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Styles for the details-section container */
.details-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 80px;
  font-size: 12px;
}

.extraNotes {
  display: flex;
  margin-top: 20px;
  margin-left: 80px;
  margin-bottom: 20px;
}

.extraNotes .wider-textarea {
  width: 75%; /* Adjust the width as needed */
}

.button-section {
  margin-left: 80px;
  margin-bottom: 50px;
}

/* Define the CSS class for the wider textarea */
.wider-textarea {
  width: 30%; /* Adjust the width as needed */
}

.column {
  flex: 1; /* Adjust the flex value to control the width of the columns */
  margin-right: 70px; /* Adjust the margin as needed to create space between columns */
}

/* Clear the right margin of the last column in each details-section */
.details-section:last-child .column:last-child {
  margin-right: 0;
}

/* Header styles */
h1 {
  text-align: center;
  background-color: #1f153a; /* Dark blue background color */
  color: #fff; /* White text color */
  padding: 0px;
  margin-top: 0px;
  position: relative; /* Enable positioning of child elements */
}

h4 {
  color: black; /* White text color */
}

.search-header {
  text-align: left;
  background-color: #1f153a; /* Dark blue background color */
  color: #fff; /* White text color */
  padding-left: 10px; /* Reduce padding to make the section smaller vertically */
  padding-right: 10px; /* Reduce padding to make the section smaller vertically */
  position: relative; /* Enable positioning of child elements */
}

/* Style for label and input */
label {
  font-size: 14px; /* Adjust font size for the label */
}

input[type="number"] {
  font-size: 14px; /* Adjust font size for the input field */
  padding: 5px; /* Add padding to the input field for better spacing */
  width: 80px; /* Adjust the width of the input field as needed */
}

/* Style for the button (if needed) */
button {
  font-size: 14px; /* Adjust font size for the button */
  padding: 2px 2px; /* Adjust padding as needed */
}

/* Header styles */
h2 {
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #1f153a; /* Dark blue background color */
  color: #fff; /* White text color */
  padding: 3px;
  position: relative; /* Enable positioning of child elements */
}

/* Logo styles */
#logo {
  position: absolute;
  top: 50%;
  /* logo size */
  width: 150px;
  transform: translateY(-50%); /* Vertically center the logo */
  right: 10px; /* Adjust the distance from the right side */

  /* when pade width is 768px or less
 set top to 60% and set max width to 50px */
  @media (max-width: 980px) {
    top: 60%;
    max-width: 80px;
  } 

  /* when pade width is 650px or less
  remove image */
  @media (max-width: 650px) {
    max-width: 0px;
  }

}

/* Label styles */
label {
  font-weight: bold;
}

/* Header section styles */
.header h2 {
  margin-top: 0; /* Remove top margin */
  margin-bottom: 10px; /* Adjust the bottom margin as needed */
  padding-top: 5px; /* Adjust the top padding as needed */
  padding-bottom: 5px; /* Adjust the bottom padding as needed */
  background-color: #1f153a;
  color: #fff;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

/* Small header section styles */
.smallHeader {
  background-color: #1f153a; /* Use the same background color as h1 */
  font-size: 16px;
  color: #fff; /* White text color */
  padding: 2px;
  text-align: center; /* Center-align the text */
  width: calc(100% - 50px); /* Adjust the width to make it narrower */
  margin: 19px 0px; /* Add margin for spacing */
}

/* Style for disabled fieldset */
fieldset:disabled {
  color: #d9d9d9; /* Light grey text color */
  pointer-events: none; /* Disable pointer events (no interaction) */
}

/* CSS */
.small-text {
  font-size: 14px; /* Adjust the font size as needed */
}

/* CSS */
.nav-button {
  width: 100px; /* Adjust the width as needed */
}

.centered-text {
  /* make logo flex */
  display: flex;
  margin-top: 0px; /* Adjust the negative margin to move the text up */
  padding-top: 35px; /* Adjust the padding to move the text down */
  padding-bottom: 55px;
  /* align to centre of page */
  justify-content: center;
  /* make text a little bit smaller */
  font-size: 24px;
  /* make font size 40px when page is 768px or more */
  @media (min-width: 768px) {
    font-size: 40px;
  }
}

/* CSS */
.navButtons {
  margin-top: -50px; /* Adjust the negative margin to move the text up */
  margin-bottom: 30px; /* Adjust the negative margin to move the text up */ 
  padding-bottom: 15px; /* Adjust the padding to move the text down */
  text-align: left; /* Center-align the text */
}



/* Center the login container vertically and horizontally */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% of the viewport height */
}

/* Style for the logo */
.loginLogo {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Add margin below the logo */
  /* make logo centre */
  display: block;
  margin-left: auto;
  margin-right: auto;


}

/* Style for the input fields */
.input-field {
  width: 20%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* move the field to the centre */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style for the login button */
.login-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  /* move the button to the centre */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-button:hover {
  background-color: #0056b3;
}

/* Style for the centered input container */
.centered-input {
  text-align: center; /* Center the content horizontally within the container */
}

